<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
	<h2 class="text-center fw-bold"><%= `Hola admin:  ${admin}` %></h2>
	<%- include('partials/imgNode') %>
</body>
</html>

